@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
.abstract {
  font-size: 12px;
  line-height: 1.5;
  color: #444;
  font-style: italic; /* Makes text italic */
  margin-left: 20px; /* Adds a small indentation */
}


body {
  font-family: "Merriweather", serif;  /* Main text font */
}

h1, h2, h3 {
  font-family: "Merriweather", sans-serif;  /* Headings */
}
/* Dummy change to force GitHub to rebuild */
